*{
	margin: 0px;
	padding: 0px;
}

html{
	background-color: hotpink;
}
body{
	width: 1000px;
	height: 1000px;
	background-color: pink;
	margin: auto;
}
header{
	width: 100%px;
	height: 100%px;
	background-color: pink;
}
nav{
	width: 1000px;
	height: 50px;
	background-color: pink;
}
article{
	width: 800px;
	height: 700px;
	background-color: pink;
    float: left;
    
}

aside{
	width: 200px;
	height: 700px;
	background-color: pink;
	float: left;
}
footer{
	width: 1000;
	height: 50;
	background-color: pink;
	float: left;
}


nav a{
	text-decoration: none;
	color: inherit;
	font-size: 21;
	font-family: tahoma;
}
nav li{
	display: inline-block;
	padding: 12px 5px;
	box-shadow: 0px 0px 20px #000;
	color: white;

}
nav li:hover{
	background-color: #fff;
	color: red;
	box-shadow: 0px 0px 30px #fff;
    transition: 0.8s;
}

nav ul{
	text-align:center;
}


/*REDES SOCIALES*/
.Redes ul{
	list-style: none;
	text-align: center;
}

.redes ul li{
	display: inline-block;
}
.redes ul li img{
	width: 30px;
}
.redes ul li a{
	display: inline-block;
	padding: 10px 2px;
	transition: all 0.5s;
}
.redes ul li .google{
	background-color: red;

}
.redes ul li .face{
	background-color: skyblue;
}
.redes ul li .instagram{
    background-color: hotpink; o;
}

.redes ul li .whatsapp{
	background-color: greenyellow;
}

.redes ul li .x{
	background-color: darkorange;
}

.redes ul li a:hover{
	background-color:pink;
	box-shadow: 0 0 30px black;
}







